* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  transition: 0.3s;
}
a:hover {
  color: #a09e9e;
  transition: 0.3s;
}
ul {
  list-style: none;
}
h1 {
  font-size: 40px;
  line-height: 42px;
  font-weight: 400;
}
h3 {
  font-size: 28px;
  line-height: 30px;
  font-weight: 400;
}
h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.line {
  height: 1px;
  width: 100%;
  background-color: black;
  position: absolute;
  left: 0;
}
.--grey {
  color: #6e6e6e;
}
.--red {
  color: #d92c2c;
}
.main-link {
  color: #6e6e6e;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  &__icons-block {
    display: flex;
    gap: 30px;
  }
  &__list {
    display: flex;
    gap: 40px;
  }

  &__icon {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      scale: 1.2;
      transition: 0.3s;
    }
  }
  &__notice-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__notice {
    position: absolute;
    top: -5px;
    left: 10px;
    background-color: #000000;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    line-height: 8px;
  }
  &__bag {
    display: none;
  }
  &__burger {
    display: none;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    cursor: pointer;
  }
  &__burger-line {
    width: 32px;
    height: 2px;
    background-color: #6e6e6e;
  }
  &__burger-line2 {
    width: 20px;
    height: 2px;
    background-color: #6e6e6e;
    margin-left: 12px;
  }
}
.burger-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #999999;

  &__list {
    display: flex;
    gap: 25px;
    flex-direction: column;
  }
  &__cross {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  &__item {
    padding: 20px 80px;
    transition: 0.3s;
    color: #f1f1f1;
    &:hover {
      background-color: #6e6e6e;
      cursor: pointer;
      transition: 0.3s;
    }
  }
}
.path {
  margin: 50px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}
.order {
  display: flex;
  gap: 20px;
  &__recover-wrapper {
    display: flex;
    gap: 60px;
    align-items: center;
  }
  &__enter {
    margin-bottom: 5px;
  }
  &__filling-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
  }
  &__heading-block {
    display: flex;
    align-items: flex-end;
    gap: 20px;
  }
  &__recovery-block {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 15.5px 25px;
    justify-content: space-between;
    margin: 25px 0;
  }
}
.recover-btn1,
.recover-btn2 {
  cursor: pointer;
}
.product-block {
  display: flex;
  border-bottom: 0.5px solid #c8c8c8;
  border-top: 0.5px solid #c8c8c8;
  gap: 20px;
  padding: 25px 0;
  justify-content: space-between;
  &__img-block {
    display: flex;
    gap: 20px;
  }
  &__image {
    max-width: 130px;
    max-height: 160px;
  }
  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  &__circle {
    opacity: 0;
    position: absolute;
    cursor: pointer;
  }

  .label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
  .label::before {
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    cursor: pointer;
    margin-top: -10px;
    border-radius: 50%;
  }
  input:checked + .label-black::before {
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 4px #444444;
  }
  input:checked + .label-blue::before {
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 4px #106da2;
  }
  input:checked + .label-orange::before {
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 4px #ae6d0c;
  }
  .label-black::before {
    background-color: #444444;
  }
  .label-blue::before {
    background-color: #106da2;
    margin-left: 20px;
  }
  .label-orange::before {
    background-color: #ae6d0c;
    margin-left: 40px;
  }
  &__sides-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 200px;
  }
  &__button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 6px;
    font-size: 12px;
    line-height: 15px;
    transition: 0.3s;
    &:hover {
      background-color: #000;
      color: #fff;
      transition: 0.3s;
    }
  }
}
.--line-through {
  font-size: 12px;
  line-height: 15px;
  text-decoration: line-through;
}
.sum-block {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  &__cross,
  &__cross2 {
    cursor: pointer;
  }
  & > h5 {
    margin-top: 20px;
  }
  &__btn-block {
    display: flex;
  }
  &__button {
    width: 100%;
    height: 42px;
    border-radius: 0px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    &:hover {
      background-color: #6e6e6e;
      color: #c8c8c8;

      transition: 0.3s;
    }
  }
}

.form {
  width: 100%;
  position: relative;
  &__input-block {
    display: flex;
    gap: 20px;
  }
  &__input {
    color: #6e6e6e;
    padding: 15px 20px;
    border: 1px solid #c8c8c8;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
  }
  &__adress {
    margin-top: 20px;
    width: calc(100% - 43px);
    padding: 15px 20px;
    border: 1px solid #c8c8c8;
    color: #6e6e6e;
    background-image: url("../images/searchIn.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px);
  }
  &__title {
    margin-top: 40px;
  }
  &__comm-area {
    width: calc(100% - 43px);
    color: #6e6e6e;
    border: 1px solid #c8c8c8;
    padding: 20px;
    height: 140px;
    margin-top: 20px;
    resize: none;
  }
  &__use {
    margin: 20px;
  }
  label {
    display: inline-block;
    position: relative;
    margin-left: 30px;
    &:not(:first-child) {
      margin-top: 20px;
    }
    &::before {
      width: 20px;
      height: 20px;
      content: "";
      position: absolute;
      left: -30px;
      top: 50%;
      cursor: pointer;
      margin-top: -10px;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      border: 1px solid #000;
    }
  }
  input[type="radio"] {
    opacity: 0;
    position: absolute;
  }
  input[type="radio"]:checked + label::before {
    box-shadow: 0 0 0 5px rgb(255, 255, 255), 0 0 0 6px #000000;
    background-color: #000;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-top: -5px;
  }
}
.result-block {
  display: flex;
  flex-direction: column;
  gap: 170px;
  align-items: center;
}
.card {
  border: 1px solid #6e6e6e;
  padding: 30px 20px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__option {
    display: flex;
    justify-content: space-between;
  }
  &__discount-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__product-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
  }
  &__option--title {
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    font-weight: 500;
  }
  &__input {
    color: #6e6e6e;
    padding: 15px 20px;
    border: 1px solid #c8c8c8;
  }
  &__switch {
    display: inline-block;
    width: 34px;
    height: 14px;
    border-radius: 12px;
    background: #c8c8c8;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
    &::after {
      content: "";
      height: 22px;
      width: 22px;
      border-radius: 18px;
      background: #6e6e6e;
      top: -4px;
      left: -6px;
      transition-duration: 300ms;
      box-shadow: 0 0 10px 0 #999999;
      position: absolute;
      z-index: 1;
    }
  }
  &__switch-in {
    &::after {
      content: "";
      height: 22px;
      width: 22px;
      border-radius: 18px;
      background: #000;
      top: -4px;
      left: 14px;
      transition-duration: 300ms;
      box-shadow: 0 0 10px 0 #999999;
      position: absolute;
      z-index: 1;
    }
  }
  &__btn {
    background-color: #000;
    color: #fff;
    padding: 15px 60px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 21px;
  }
  &__handler-block {
    padding: 20px 0;
  }
  &__option--large {
    font-size: 20px;
    line-height: 24px;
  }
  &__option--small {
    font-size: 16px;
    line-height: 21px;
  }
  &__confid {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: #6e6e6e;
  }
}
.map {
  width: 400px;
  height: 450px;
}

.footer {
  margin-top: 150px;
  padding: 30px;
  &__mail-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 500px;
  }
  &__flex-block {
    display: flex;
    gap: 100px;
  }
  &__links-block {
    display: flex;
    gap: 80px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__discount {
    font-size: 28px;
    line-height: 30px;
  }
  &__input {
    padding: 15px 20px;
    border: 1px solid #6e6e6e;
    font-size: 16px;
    line-height: 21px;
    width: 80%;
  }
  &__input-block {
    position: relative;
  }
  &__sub {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    position: absolute;
    z-index: 20;
    top: 18px;
    left: 65%;
  }
  &__search {
    position: absolute;
    top: 20px;
    left: 57%;
    z-index: 10;
  }
  &__confid {
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #6e6e6e;
  }
}

[class*="copyrights-pane"] {
  display: none !important;
}

////////////////adaptive//////////////////

@media (max-width: 1395px) {
  .card {
    width: 30vw;
  }
}
@media (max-width: 1090px) {
  .order {
    flex-direction: column;

    &__filling-block {
      width: 100%;
    }
  }

  .card {
    width: 80vw;
  }
  .form__input-block {
    width: 100%;
  }
  .form__adress {
    width: calc(100% - 40px);
  }
  .result-block {
    flex-direction: column-reverse;
  }
  .map {
    width: 70%;
  }
  .footer {
    &__flex-block {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__links-block {
      gap: 40px;
    }
  }
}
@media (max-width: 730px) {
  .product-block {
    flex-direction: column;
    width: 100%;
    align-items: center;
    &__img-block {
      gap: 80px;
    }
  }
  .map {
    height: 250px;
  }
  .result-block {
    gap: 20px;
  }
  .header {
    &__nav {
      display: none;
    }
    &__burger {
      display: flex;
    }
  }
}
@media (max-width: 582px) {
  .order__heading-block {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__bag {
    display: block;
  }
  .header__icons-block {
    display: none;
  }
  .footer__sub {
    display: none;
  }
  .footer__search {
    display: none;
  }
  .sum-block {
    margin-top: 20px;
  }
  .form {
    display: flex;
    flex-direction: column;

    &__input-block {
      flex-direction: column;
    }
    &__column {
      width: 100%;
    }
  }
  .order__recovery-block {
    flex-direction: column;
    align-items: flex-start;
  }
  .order__recover-wrapper {
    justify-content: space-between;
    width: 100%;
  }
}
